# Node
node_modules
npm-debug.log
yarn-error.log

# Build output
.build
dist

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Environment files
.env
.env.*

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Tests
coverage
