name: CD - Terraform Deploy

on:
  workflow_dispatch:
    inputs:
      image_tag:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="aws_region=${{ secrets.AWS_REGION }}" \
            -var="image_url=${{ env.IMAGE_URI }}" \
            -var="execution_role_arn=${{ secrets.ECS_EXECUTION_ROLE_ARN }}" \
            -var="task_role_arn=${{ secrets.ECS_TASK_ROLE_ARN }}" \
            -var="subnets=${{ secrets.SUBNETS }}" \
            -var="security_groups=${{ secrets.SECURITY_GROUPS }}"
        working-directory: terraform
