name: CI-CD-Strapi-ECS-EC2

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  PROJECT_NAME: strapi

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # ------------------------
    # CI STEP 1: CHECKOUT
    # ------------------------
    - name: Checkout code
      uses: actions/checkout@v4

    # ------------------------
    # CI STEP 2: AWS AUTH
    # ------------------------
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    # ------------------------
    # CI STEP 3: ECR LOGIN
    # ------------------------
    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v1

    # ------------------------
    # CI STEP 4: BUILD IMAGE
    # ------------------------
    - name: Build Docker image
      run: |
        docker build \
          -t ${{ secrets.ECR_REPO_URL }}:${{ github.sha }} \
          ./strapi-app

    # ------------------------
    # CI STEP 5: PUSH IMAGE
    # ------------------------
    - name: Push Docker image to ECR
      run: |
        docker push ${{ secrets.ECR_REPO_URL }}:${{ github.sha }}

    # ------------------------
    # CD STEP 6: TERRAFORM INIT
    # ------------------------
    - name: Terraform Init
      run: |
        cd terraform
        terraform init

    # ------------------------
    # CD STEP 7: TERRAFORM APPLY
    # ------------------------
    - name: Terraform Apply (Deploy to ECS)
      run: |
        cd terraform
        terraform apply -auto-approve \
          -var="image_tag=${{ github.sha }}" \
          -var="ecs_instance_profile_name=ec2-ecr-role" \
          -var="vpc_id=${{ secrets.VPC_ID }}" \
          -var='subnet_ids=${{ secrets.SUBNET_IDS }}'
